<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <title>{% block title %}Cena vicino a casa della nonna di Ale{% endblock %}</title>
    <link rel="stylesheet" href="{{ URL_PREFIX }}/static/style.css">
</head>
<body>
    <div class="page {% block page_class %}{% endblock %}">
        {% block content %}{% endblock %}
        <div class="footer">🍝 organizzata da Ale</div>
    </div>
</body>
</html>
